<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Cache-control" content="private" />
  <meta http-equiv="Cache-control" content="max-age=0" />
  <meta name="viewport" content="width=device-width, inital-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

</head>
